{% extends "base.html" %}

{% block content %}
{% include 'includes/_messages.html' %}

<form method="POST">
  {% csrf_token %}

  <div class="mb-3">
    <label for="amount" class="form-label">Amount</label>
    <input type="number" class="form-control" name="amount" required>
  </div>

  <div class="mb-3">
    <label for="category" class="form-label">Category</label>
    <input type="text" class="form-control" name="category" required>
  </div>

  <div class="mb-3">
    <label for="source" class="form-label">Source</label>
    <select class="form-select" name="source" required>
      {% for s in sources %}
        <option value="{{ s.id }}">{{ s.source }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea class="form-control" name="description"></textarea>
  </div>

  <div class="mb-3">
    <label for="date" class="form-label">Date</label>
    <input type="date" class="form-control" name="date">
  </div>

  <button type="submit" class="btn btn-danger">Add Expense</button>
</form>


{% endblock content %}