{% extends 'base.html' %}

{% block content %}

<div class="position-relative">
    <h4 class="login-title text-center">Login User</h4>
    {% include 'includes/_messages.html' %}
    <div class="login-container shadow">
        <form method="POST">
          {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Email Id</label>
                <input type="text" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password" required>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
            <div class="text-center mt-3">
              <small>Don't have an account? <a href="{% url 'register_user' %}">Register here</a></small>
            </div>
        </form>
    </div>
</div>


{% endblock content %}